{% load static %}

<div id="bottom">
  <div class="bg-top">
    <div class="bg-bottom">
      <div class="box">
        <h3 class="star"><span>Latest News</span></h3>
        <div class="popular-posts">
          <ul>
            {% for latest_story in latest_news %}
            <li>
              <div class="image">
                <a href="{{ latest_story.source_url }}"
                  ><img
                    style="width: 100px"
                    src="{{ latest_story.img_url }}"
                    alt=""
                /></a>
              </div>
              <div class="data">
                <h5>{{ latest_story.Datetime }}</h5>
                <a href="{{ latest_story.source_url }}"
                  ><p>{{ latest_story.Title }}</p></a
                >
              </div>
              <div class="cl">&nbsp;</div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="box last">
        <h3 class="bubble"><span>LATEST COMMENTS</span></h3>
        <div class="latest-comments">
          <ul>
            {% for latest_comment in latest_comments %}
            <li>
              <h6>
                {{ latest_comment.date_created }} by
                <h5>
                  {{ latest_comment.user_id.first_name }}
                  {{latest_comment.user_id.last_name}}
                </h5>
              </h6>
              <p>{{ latest_comment.comment_content }}</p>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="cl">&nbsp;</div>
    </div>
  </div>
</div>
