{% extends "base.html" %} {% load static %} {% block main %}
<div id="main">
  <div
    id="content"
    style="
      display: grid;
      grid-template-rows: 250px 250px 250px;
      padding-left: 250px;
    "
  >
    <div
      class="box"
      style="grid-row: 1/1; display: grid; grid-template-rows: 1fr 4fr"
    >
      <!-- Template for the article  -->
      <h2 style="grid-row: 1/1"><span>NATION NEWS</span></h2>
      <div
        class="posts"
        style="
          grid-row: 2/2;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
        "
      >
        {% for pd_story in pd_stories %}
        <div class="post">
          <div class="image" style="max-width: 50px">
            <a href="{{ pd_story.source_url }}"
              ><img style="width: 80px" src="{{pd_story.img_url}}" alt=""
            /></a>
          </div>
          <div style="right: 1px" class="data">
            <h4>
              <a href="{{ pd_story.source_url }}">{{pd_story.Title}}</a>
            </h4>
            <p>{{pd_story.Datetime}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div
      class="box"
      style="grid-row: 2/2; display: grid; grid-template-rows: 1fr 4fr"
    >
      <h2 style="grid-row: 1/1"><span>PEOPLE DAILY</span></h2>
      <div
        class="posts"
        style="
          grid-row: 2/2;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
        "
      >
        {% for nation_story in nation_stories %}
        <div class="post">
          <div class="image">
            <a href="{{ pd_story.source_url }}"
              ><img style="width: 80px" src="{{nation_story.img_url}}" alt=""
            /></a>
          </div>
          <div class="data">
            <h4>
              <a href="{{ pd_story.source_url }}">{{nation_story.Title}}</a>
            </h4>
            <p>{{nation_story.Datetime}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div
      class="box"
      style="grid-row: 3/3; display: grid; grid-template-rows: 1fr 4fr"
    >
      <h2 style="grid-row: 1/1"><span>THE STAR</span></h2>
      <div
        class="posts"
        style="
          grid-row: 2/2;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
        "
      >
        <div class="post">
          <div class="image">
            <a href="#"
              ><img src="{% static 'css/images/post-7.jpg' %}" alt=""
            /></a>
          </div>
          <div class="data">
            <h4>
              <a href="#"
                >Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a
              >
            </h4>
            <p>
              Maecenas sodales auctor urna cursus facilisis. Cras rutrum justo
              id mi bibendum luctus.
            </p>
          </div>
        </div>
        <div class="post">
          <div class="image">
            <a href="#"
              ><img src="{% static 'css/images/post-8.jpg' %}" alt=""
            /></a>
          </div>
          <div class="data">
            <h4><a href="#">Maecenas scelerisque sapien </a></h4>
            <p>
              Maecenas sodales auctor urna cursus facilisis. Cras rutrum justo
              id mi bibendum luctus.
            </p>
          </div>
        </div>
        <div class="post">
          <div class="image">
            <a href="#"
              ><img src="{% static 'css/images/post-9.jpg' %}" alt=""
            /></a>
          </div>
          <div class="data">
            <h4><a href="#">Cras ac ultrices ipsum. </a></h4>
            <p>
              Vivamus adipiscing dui at turpis imperdiet congue. Fusce posuere
              augue et odio bibendum non dictum nisi posuere.
            </p>
          </div>
        </div>
        <div class="post">
          <div class="image">
            <a href="#"
              ><img src="{% static 'css/images/post-10.jpg' %}" alt=""
            /></a>
          </div>
          <div class="data">
            <h4><a href="#">Nunc ac lorem id ipsum.</a></h4>
            <p>
              Maecenas sodales auctor urna cursus facilisis. Cras rutrum justo
              id mi bibendum luctus.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="sidebar">
    <!-- template for the categoris(tags, archives, etc) -->
    <div class="nav-box">
      <h2><span>SOURCES</span></h2>
      <ul>
        {% for source in sources %}
        <li><a href="#">{{source.0}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <!-- ends here -->
    <div class="nav-box">
      <h2><span>TAGS</span></h2>
      <ul>
        {% for tag in tags %}
        <li><a href="#">{{ tag.0 }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="cl">&nbsp;</div>
</div>
{% endblock %}
